@import '../../../styles/colors.scss';

.mwMovieItem {
  width: 320px;
  height: 470px;
  margin: 10px 10px;
  position: relative;

  & article {
    width: 320px;
    height: 470px;
    background: $grey-1-color;
    display: flex;
    overflow: hidden;

    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 10px;
    font-weight: 500;
    text-align: left;
  }
}

.mwMovieItemImageBlock {
  position: relative;
  height: 90%;
  display: flex;
  justify-content: flex-end;
  flex-flow: row;

  img {
    max-height: 100%;
    position: absolute;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.mwMovieItemFooter {
  padding-top: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0px 10px;
  & :first-child {
    width: 70%;
    margin-right: 10px;
  }
}

.mvMovieItemTitle {
  font-size: 18px;
  line-height: 22px;
  color: $white-color;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.mvMovieItemGenre {
  font-size: 14px;
  line-height: 17px;
  color: $white-color;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.mwMovieItemDate {
  width: 30%;
  margin-bottom: 20px;
  mix-blend-mode: normal;
  opacity: 0.5;
  border: 1px solid $grey-2-color;
  border-radius: 4px;
  text-align: center;
}

.mwMovieItemEllipses {
  width: 36px;
  height: 36px;
  background: $grey-3-color;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.196596);
}
