@import '.././../../../public/styles/colors.scss';

.mwGenresContainer {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $white-color;
}

.mwFilterButton {
  padding: 6px;
  margin: 10px;
  background-color: $dark-grey-1-color;
  color: $white-color;
  border: 0ch;
  border-radius: 5px;
  outline: 0;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background-color: $red-color;
  }
}

.mwFilterSelected {
  background-color: $red-color !important;
  backdrop-filter: blur(13px);
}
