$white-color: #ffffff;
$red-color: #f65261;
$grey-1-color: #424242;
$grey-2-color: #979797;
$grey-3-color: #2a202d;
$grey-4-color: rgb(111, 111, 111, 0.5);
$grey-5-color: rgba(50, 50, 50, 0.948044);

$dark-grey-1-color: #232323;
