@import '../src/styles/colors.scss';

@mixin font {
  font-family: 'Montserrat';
  font-style: normal;
}

button,
body {
  margin: 0;
  @include font;
}

.mainContainer {
  background-color: $grey-1-color;
  height: 100%;
}
